@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
body
{
  background-color: #0c184c;
  ont-family: 'Gugi', sans-serif;
  color: cyan;
}

.cont 
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid darkorchid;
  width: 700px;
  height: 300px;
}


.network {
  display: flex;
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn1 {
    z-index: 3;
    color: ghostwhite;
    background: orange;
    border-radius: 60px;
    width: 170px; 
    height: 65px; 
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 0 #4a1abf, 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: ease-out 0.2s, width 0.33s, height 0.33s;
    font-size: 14px;
    font-family: 'Gugi', sans-serif;
    text-align: center;
    cursor: pointer;
}

.btn1:hover {
    box-shadow: inset 184px 0 0 0 #4a1abf;
    height: 70px; 
    width: 183px; 
    font-size: 16px;
}

