@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Gugi', sans-serif;
    color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c154b;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 750px;
    height: 375px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #32226e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 90%;
}

.input_area {
    display: flex;
    flex-direction: column;
}

.input_area label {
    margin-bottom: 5px;
    font-size: 14px;
    align-self: center;
}

.input_area input {
    border-radius: 50px;
    padding: 10px;
    font-family: 'Gugi', sans-serif;
    font-size: 12px;
    width: 40vh; /* Support 10 characters + padding */
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    align-self: center;
    background-color: #0c154b;
    color: cyan;
}

.button_area {
    display: flex;
    justify-content: center;
    gap: 50px; /* Space between buttons */
    width: 100%;
    margin-top: 10px;
}

.btn2 {
    z-index: 3;
    color: ghostwhite;
    background: #4a1abf;
    border-radius: 60px;
    width: 170px; /* Fixed width */
    height: 65px; /* Fixed height */
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 0 cyan, 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: ease-out 0.2s, width 0.33s, height 0.33s;
    font-size: 14px;
    font-family: 'Gugi', sans-serif;
    text-align: center;
    cursor: pointer;
}

.btn1 {
    z-index: 3;
    color: ghostwhite;
    background: orange;
    border-radius: 60px;
    width: 170px; 
    height: 65px; 
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 0 #4a1abf, 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: ease-out 0.2s, width 0.33s, height 0.33s;
    font-size: 14px;
    font-family: 'Gugi', sans-serif;
    text-align: center;
    cursor: pointer;
}

.btn2:hover {
    box-shadow: inset 184px 0 0 0 cyan;
    height: 70px; 
    width: 183px; 
    font-size: 16px;
}

.btn1:hover {
    box-shadow: inset 184px 0 0 0 #4a1abf;
    height: 70px; 
    width: 183px; 
    font-size: 16px;
}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 20%;
}